/**
 * rest
 */
html{
    color:#000;
    background:#FFF;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,
img {
    border:0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style:normal;
    font-weight:normal;
}

ol,
ul {
    list-style:none;
}

caption,
th {
    text-align:left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,
q:after {
    content:'';
}
abbr,
acronym {
    border:0;
    font-variant:normal;
}

sup {
    vertical-align:text-top;
}
sub {
    vertical-align:text-bottom;
}
input,
textarea,
select {
    font-family:inherit;
    font-size:inherit;
    font-weight:inherit;
}

input,
textarea,
select {
    *font-size:100%;
}

legend {
    color:#000;
}

/**
 * common
 */

html {
    background: #F6F6F6;
}

a {
    text-decoration: none;
}

body {
    font-size: 12px;
    line-height: 1.5;
    width: 960px;
    margin: 0 auto;
}

.icon {
    background: url(img/icon.png) 0px 0px no-repeat;
}

.red {
    color: #F00;
}

.green {
    color: #1DAD12;
}

.ui-button {
    display: inline-block;
    line-height: 21px;
    color: #FFF;
    background: #3A71C0;
    padding: 0px 15px;
    vertical-align: middle;
    cursor: pointer;
    *display: inline;
    *zoom: 1;
}

.ui-button-label {
    padding: 1px;
    line-height: 1;
}

.ui-button-g {
    background: #1DAD12;
}

.ui-button-b {
    background: #1F63ED;
}

#header {
    height: 50px;
    background: #3A71C0;
    position: relative;
}

#header h1 {
    height: 50px;
    width: 180px;
    margin-left: 10px;
    background: url(img/logo.png) 0px 0px no-repeat;
    text-indent: -10000px;
}

#nav {
    position: absolute;
    left: 240px;
    top: 0px;
}

#nav a {
    float: left;
    padding: 0px 20px;
    line-height: 50px;
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
}

#nav a:hover,
#nav a.cur {
    background: #0D3A7F;
}

#header-opt {
    position: absolute;
    right: 0px;
    top: 10px;
}

#header-opt strong,
#header-opt a {
    float: left;
    color: #FFF;
    margin: 0px 5px;
}

#header-opt a {
    cursor: pointer;
}

#header-opt strong {
    line-height: 32px;
    font-weight: bold;
}

#header-opt a.icon {
    width: 32px;
    height: 32px;
}

#header-opt a.icon-msg {
    background-position: 0px 0px;
    position: relative;
}

#header-opt a.icon-msg span {
    position: absolute;
    background: #F00;
    padding: 2px;
    line-height: 1;
    top: -2px;
    right: -2px;
    color: #FFF;
}

#header-opt a.icon-help {
    background-position: -32px 0px;
}

#header-opt a.icon-logout {
    background-position: -64px 0px;
}

#msg-list {
    position: absolute;
    right: 10px;
    top: 45px;
    width: 280px;
    padding: 10px;
    border: 1px solid #3A71C0;
    background: #FFF;
}

#msg-list .icon-cursor {
    position: absolute;
    top: -9px;
    right: 85px;
    height: 10px;
    width: 16px;
    background-position: -32px -35px;
}

#msg-list ol {
    margin-left: 20px;
    list-style-type: decimal;
}

#container {
    background: #EAF2FB;
}

#sidebar {
    float: left;
    width: 240px;
    background: #EAF2FB;
}

#account-info {
    padding: 15px;
    color: #333;
    background: #F5F9FF;
    border-bottom: 1px solid #BDD4EF;
}

#account-info p {
    margin-bottom: 5px;
}

#account-info p em {
    display: inline-block;
    width: 55px;
    vertical-align: middle;
    *display: inline;
    *zoom: 1;
}

#account-info p strong {
    color: #0D3A7F;
    font-weight: bold;
}

#account-info p.opt {
    text-align: center;
}

#account-info .icon-v {
    display: inline-block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    margin-left: 5px;
    vertical-align: middle;
    background-position: 0px -33px;
    *display: inline;
    *zoom: 1;
}

#account-info .icon-v-disabled {
    background-position: -16px -33px;
}

#account-info .ui-button {
    margin: 0px 5px;
}

#app-info {
}

#app-info h3 {
    margin: 5px 10px;
    font-size: 12px;
    color: #666;
}

#app-info .app-item {
    padding: 10px;
}

#app-info .app-item h4 {
    color: #000;
    font-weight: bold;
    margin-left: 54px;
    vertical-align: middle;
}

#app-info .app-item h4 a {
    font-size: 14px;
    color: #000;
}

#app-info .app-item h4 .ui-button {
    margin-left: 3px;
}

#app-info .app-item h4 .icon-tip {
    display: inline-block;
    float: none;
    height: 16px;
    width: 16px;
    background-position: -48px -32px;
    vertical-align: middle;
    *display: inline;
    *zoom: 1;
}

#app-info .app-item p {
    color: #666;
    margin-left: 54px;
}

#app-info .app-item p.green {
    color: #1DAD12;
}

#app-info .app-item p.red {
    color: #F00;
}

#app-info .app-item p.opt {
    visibility: hidden;
    margin-bottom: 0px;
    text-align: right;
    clear: both;
}

#app-info .app-item-cur {
    background: #CADFF6;
}

#app-info .app-item-cur p.opt {
    visibility: visible;
}

#app-info .app-item .opt a {
    margin: 0px 3px;
}

#app-info .icon {
    float: left;
    width: 44px;
    height: 44px;
}

#app-info .icon-app-tel {
    background-position: 0px -64px;
}

#app-info .icon-app-callback {
    background-position: -44px -64px;
}

#app-info .icon-app-track {
    background-position: -88px -64px;
}

#app-info .icon-app-sms {
    background-position: -132px -64px;
}

#notice-area {
    margin-top: 20px;
    border-top: 1px solid #BDD4EF;
    padding: 5px 10px;
}

#notice-area h3 {
    font-size: 12px;
    color: #666;
    margin-bottom: 5px;
}

#notice-area ul {
    margin-left: 20px;
    list-style-type: disc;
}

#notice-area li,
#notice-area li a {
    color: #666;
}

#notice-area li a:hover {
    text-decoration: underline;
}

#content {
    margin-left: 240px;
    padding: 20px;
    border-left: 1px solid #CED5DC;
    min-height: 800px;
    background: #FFF;
    overflow: hidden;
}

#footer {
    height: 55px;
    line-height: 55px;
    border-top: 1px solid #E5E3E3; 
    background: #F6F6F6;
    color: #808080;
    text-align: center;
}

#footer a {
    margin: 0px 5px;
    color: #808080;
}

#footer a:hover {
    text-decoration: underline;
}

